{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dynamic Form</h1>

    <div id="barcode-form">
        <label for="text-input">Enter Text:</label>
        <input type="text" id="text-input">
        <button id="generate-barcode-btn">Generate Barcode</button>
    </div>

    <div id="barcode-display" style="display: none;">
        <img id="barcode-img" alt="Barcode">
    </div>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jsbarcode.all.min.js') }}"></script>
    <script src="{{ asset('js/generateBarcode.js') }}"></script>
{% endblock %}
